<div>
    <div class="row p-2">
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top " alt="...">
            <div class="card-body">
                <h5 class="card-title color-light-blue">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
        <div class="card col-md-3 m-4 shadow-lg hover-lift" style="width: 18rem;">
            <img src="bangalore.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bengaluru</h5>
                <p class="card-text">Discover the cultural richness and scenic beauty of Bengaluru — from the Himalayas to the Sundarbans.</p>
                <a href="#" class="btn btn-primary">Book now</a>
            </div>
        </div>
    </div>
</div>


