<div class="footer">
    <div class="horizon">
      <hr class="hr">
    </div>
    <div class="d-flex justify-content-bewteen">
      <div class="firstcontain">
        <ul>
          <li>
            <div class="logoo">
              <img class="logo" src="logo.png" alt="logo of the company">
            </div>
            <div class="copyright">
              © 2025 </div>
          </li>
        </ul>
      </div>
      <div class="gap-3 secondcontain text-center flex-fill box justify-content-between">
        <ul class="list-unstyled">
          <strong> Quick Links </strong>
          <br>

          <li>


            Home


          </li>
          <li>Explore packages</li>

          <li>Top destinations</li>

          <li>FAQ</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>


        </ul>
      </div>
      <div class="gap-3 thirdcontain text-center flex-fill box justify-content-between">



        <ul class="list-unstyled">
          <strong> Contact Us </strong>
          <li>

📍 Address: 123 Wanderlust Lane, Coimbatore, TN, India
          </li>
          <li>📧 Email: support&#64;yourtravelhub.com</li>
          <li>☎️ Phone: +91-98765-43210</li>
          <li>🕒 Hours: Mon–Sat, 9 AM – 6 PM IST</li>
        </ul>
      </div>


    </div>








</div>