
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap" rel="stylesheet">
</head>

<div id="carouselContainer" class="carousel slide" data-bs-ride="carousel" style="max-width: 800px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./carousel/pic1.jpg" class="d-block w-70" alt="a pic of swtizerland">
    </div>
    <div class="carousel-item">
      <img src="./carousel/pic2.jpg" class="d-block w-100" alt="himachal">
    </div>
    <div class="carousel-item">
      <img src="./carousel/pic3.jpg" class="d-block w-100" alt="bali">
    </div>
    <div class="carousel-item">
      <img src="./carousel/pic4.jpg" class="d-block w-100" alt="china">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselContainer" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselContainer" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  <br>
  
    <video src="///video.mp4" muted loop autoplay class="newvideo"></video>
<br>
    <div class="container deal-header">
        <span class="container">Where will you go next ?</span>

    </div>
