<h3>Login</h3><br/>
<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
  <div class="mb-3">
    <label for="emailId" class="form-label">Email</label>
    <input type="email" #emailId="ngModel" class="form-control" id="emailId" name="emailId" [(ngModel)]="login.emailId" placeholder="Enter your email" required email/>
    <!-- Validating the touch and dirty -->
    <span class="text-danger" *ngIf="(emailId.touched && emailId.errors?.['required']) ">
      <p class="m-2">Email is required!!</p>
    </span>
    <!-- Validating the vaild email id using @ -->
    <span class="text-danger" *ngIf="(emailId.dirty && emailId.errors?.['email'])">
      <p class="m-2">Enter a valid email address (e.g., user&#64;example.com).</p>
    </span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" #password="ngModel" class="form-control" id="password" name="password" [(ngModel)]="login.password" placeholder="Enter your password" required minlength="8" maxlength="20"/>
    <!-- Validating the touch and dirty -->
    <span class="text-danger" *ngIf="(password.touched && password.errors?.['required'])">
      <p class="m-2">Password is required!!</p>
    </span> 
    <!-- Validating the minimum length -->
    <span class="text-danger" *ngIf="(password.dirty && password.errors?.['minlength'])">
      <p class="m-2">The password must contain minimum of 8 characters</p>
    </span>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>