<h3>Create Account</h3><br/>
<form [formGroup]="signupForm" (submit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter your name"/>
  </div>
  <div class="mb-3">
    <label for="emailId" class="form-label">Email</label>
    <input type="email" class="form-control" id="emailId" name="emailId" formControlName="emailId" placeholder="Enter your email"/>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Set a password"/>
  </div>
  <div class="mb-3">
    <label for="conPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="conPassword" name="conPassword" formControlName="conPassword" placeholder="Confirm your password"/>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>